#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 > .clipping, #m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 > .paddingLayer {
  height: 142px;
  width: 371px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 span#rtr-m-98b44083-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Image_6 {
  position: absolute;
  width: 100px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Image_6 > img, #m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Image_6 > svg {
  height: 117px;
  width: 100px;
  box-shadow: none;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 {
  position: absolute;
  width: 206px;
  height: 101px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 > .clipping, #m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 > .paddingLayer {
  height: 91px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 span#rtr-m-98b44083-Paragraph_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}