#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}