#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Menu_principal {
  position: absolute;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Panel_1 {
  width: 377px;
  height: 1006px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 377px;
  height: 1006px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Ruta {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_1 span#rtr-m-9dd89a87-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_1 {
  position: absolute;
  width: 96px;
  height: 126px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_1 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_1 > svg {
  height: 126px;
  width: 96px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_1 span#rtr-m-9dd89a87-Paragraph_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-T_Drogas {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_2 span#rtr-m-9dd89a87-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_2 {
  position: absolute;
  width: 106px;
  height: 127px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_2 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_2 > svg {
  height: 127px;
  width: 106px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_2 span#rtr-m-9dd89a87-Paragraph_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Denunciar {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_3 span#rtr-m-9dd89a87-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_3 {
  position: absolute;
  width: 105px;
  height: 127px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_3 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_3 > svg {
  height: 127px;
  width: 105px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_3 span#rtr-m-9dd89a87-Paragraph_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Chat {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_5 span#rtr-m-9dd89a87-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_4 {
  position: absolute;
  width: 100px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_4 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_4 > svg {
  height: 114px;
  width: 100px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_4 span#rtr-m-9dd89a87-Paragraph_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Agenda {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_6 span#rtr-m-9dd89a87-Rectangle_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_5 {
  position: absolute;
  width: 100px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_5 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_5 > svg {
  height: 122px;
  width: 100px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_5 span#rtr-m-9dd89a87-Paragraph_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Informacion {
  width: 375px;
  height: 146px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Rectangle_7 span#rtr-m-9dd89a87-Rectangle_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_6 {
  position: absolute;
  width: 100px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_6 > img, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Image_6 > svg {
  height: 117px;
  width: 100px;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 {
  position: absolute;
  width: 206px;
  height: 101px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 > .clipping, #m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 > .paddingLayer {
  height: 91px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c #m-9dd89a87-Paragraph_6 span#rtr-m-9dd89a87-Paragraph_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-9dd89a87-edef-4ab4-a947-a8bb9266938c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}