#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -pie-background: linear-gradient(to bottom,#FFA35A,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}