#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Panel_50 > .valign {
  vertical-align: top;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 0px 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 20px;
  height: 39px;
  width: 310px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 19px;
  height: 39px;
  width: 312px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(204,204,204,0.0);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(204,204,204,0.0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(204,204,204,0.0);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(204,204,204,0.0);
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 27px;
  width: 139px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(204,204,204,0.0);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(204,204,204,0.0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(204,204,204,0.0);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(204,204,204,0.0);
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 24px;
  width: 178px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Texto {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(204,204,204,0.0);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(204,204,204,0.0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(204,204,204,0.0);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(204,204,204,0.0);
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 27px;
  width: 88px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}