#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 INPUT {
  font-family: Arial;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Texto {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}