#s-9ec51105-4f3c-4243-929c-4044bf242540 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Master_item_2 div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Master_item_2 {
  position: absolute;
  width: 375px;
  height: 667px;
  overflow: visible;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 {
  position: absolute;
  width: 313px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 > .paddingLayer {
  height: 22px;
  width: 313px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_2 > input {
  left: 0px;
  top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_2 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 {
  position: absolute;
  width: 107px;
  height: 35px;
  opacity: 0.7;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 input {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFBF8C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input_3 > .paddingLayer {
  height: 35px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Hotspot_1 {
  position: absolute;
  width: 108px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Hotspot_1 > img, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Hotspot_1 > svg {
  height: 35px;
  width: 108px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_1 {
  position: absolute;
  width: 173px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_1 > .paddingLayer {
  height: 28px;
  width: 173px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_2 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_2 {
  position: absolute;
  width: 173px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_2 > .paddingLayer {
  height: 28px;
  width: 173px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 {
  position: absolute;
  width: 335px;
  height: 45px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 > .paddingLayer {
  height: 35px;
  width: 310px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 5px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_3 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_3 {
  position: absolute;
  width: 173px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Category_3 > .paddingLayer {
  height: 28px;
  width: 173px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 {
  position: absolute;
  width: 325px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 > .clipping, #s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 > .paddingLayer {
  height: 29px;
  width: 325px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text {
  position: absolute;
  width: 203px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text > .paddingLayer {
  height: 40px;
  width: 188px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 {
  position: absolute;
  width: 203px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_1 > .paddingLayer {
  height: 40px;
  width: 188px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 {
  position: absolute;
  width: 203px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_2 > .paddingLayer {
  height: 40px;
  width: 188px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 {
  position: absolute;
  width: 203px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 #s-Input-text_3 > .paddingLayer {
  height: 40px;
  width: 188px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-9ec51105-4f3c-4243-929c-4044bf242540 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}