#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Menu-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Tab-bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}