#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 > .valign {
  vertical-align: top;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}