#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Menu_principal {
  position: absolute;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 {
  width: 377px;
  height: 1006px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 377px;
  height: 1006px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Ruta {
  width: 375px;
  height: 146px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 > .clipping, #m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_1 span#rtr-m-32b6da6d-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Image_1 {
  position: absolute;
  width: 96px;
  height: 126px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Image_1 > img, #m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Image_1 > svg {
  height: 126px;
  width: 96px;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 > .clipping, #m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_1 span#rtr-m-32b6da6d-Paragraph_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 {
  width: 337px;
  height: 181px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 > .clipping, #m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 > .paddingLayer {
  height: 177px;
  width: 333px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Paragraph_2 span#rtr-m-32b6da6d-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 {
  width: 375px;
  height: 446px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 > .clipping, #m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 > .paddingLayer {
  height: 445px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Rectangle_6 span#rtr-m-32b6da6d-Rectangle_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_2 {
  width: 377px;
  height: 1006px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 377px;
  height: 1006px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887 #m-32b6da6d-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-32b6da6d-038a-4987-9ce9-b323bfb60887.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}