#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84 #m-98b44083-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-98b44083-2910-42f7-8848-b8d2d0f64e84.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}