#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Menu_principal {
  position: absolute;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 {
  width: 377px;
  height: 618px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 377px;
  height: 618px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Chat {
  width: 375px;
  height: 146px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 {
  position: absolute;
  width: 375px;
  height: 146px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 > .paddingLayer {
  height: 145px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 span#rtr-m-ba33a4ab-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 {
  position: absolute;
  width: 100px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 > svg {
  height: 114px;
  width: 100px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 {
  position: absolute;
  width: 206px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 > .paddingLayer {
  height: 29px;
  width: 196px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 span#rtr-m-ba33a4ab-Paragraph_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Group_3 {
  width: 375px;
  height: 470px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 {
  position: absolute;
  width: 375px;
  height: 470px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 > svg {
  height: 470px;
  width: 375px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Group_2 {
  position: absolute;
  width: 204px;
  height: 87px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 {
  position: absolute;
  width: 203px;
  height: 36px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 > .paddingLayer {
  height: 35px;
  width: 201px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 span#rtr-m-ba33a4ab-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #80FF00;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 {
  position: absolute;
  width: 204px;
  height: 87px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 > .paddingLayer {
  height: 85px;
  width: 202px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 span#rtr-m-ba33a4ab-Rectangle_22_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 span#rtr-m-ba33a4ab-Label_95_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 span#rtr-m-ba33a4ab-Label_96_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 {
  position: absolute;
  width: 149px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 > .paddingLayer {
  height: 19px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 span#rtr-m-ba33a4ab-Label_97_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 span#rtr-m-ba33a4ab-Label_98_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 {
  position: absolute;
  width: 11px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 > svg {
  height: 20px;
  width: 11px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 {
  position: absolute;
  width: 375px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 > .paddingLayer {
  height: 25px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 span#rtr-m-ba33a4ab-Date-Label_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 > svg {
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 {
  position: absolute;
  width: 28px;
  height: 26px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 > svg {
  height: 26px;
  width: 28px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Notification_lite {
  position: absolute;
  width: 234px;
  height: 98px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 0px 0px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 {
  position: absolute;
  width: 233px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 > .paddingLayer {
  height: 41px;
  width: 231px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 span#rtr-m-ba33a4ab-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 {
  position: absolute;
  width: 234px;
  height: 98px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 > .paddingLayer {
  height: 96px;
  width: 232px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 span#rtr-m-ba33a4ab-Rectangle_21_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 span#rtr-m-ba33a4ab-Label_91_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 span#rtr-m-ba33a4ab-Label_92_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 {
  position: absolute;
  width: 171px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 > .paddingLayer {
  height: 21px;
  width: 171px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 span#rtr-m-ba33a4ab-Label_93_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 span#rtr-m-ba33a4ab-Label_94_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 {
  position: absolute;
  width: 12px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 > svg {
  height: 24px;
  width: 12px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Notification_lite_1 {
  position: absolute;
  width: 234px;
  height: 98px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 0px 0px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 {
  position: absolute;
  width: 233px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 > .paddingLayer {
  height: 41px;
  width: 231px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 span#rtr-m-ba33a4ab-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 {
  position: absolute;
  width: 234px;
  height: 98px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 > .paddingLayer {
  height: 96px;
  width: 232px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 span#rtr-m-ba33a4ab-Rectangle_23_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 span#rtr-m-ba33a4ab-Label_99_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 span#rtr-m-ba33a4ab-Label_100_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 {
  position: absolute;
  width: 171px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 > .paddingLayer {
  height: 21px;
  width: 171px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 span#rtr-m-ba33a4ab-Label_101_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 span#rtr-m-ba33a4ab-Label_102_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 {
  position: absolute;
  width: 12px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 > img, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 > svg {
  height: 24px;
  width: 12px;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  box-shadow: none;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 {
  width: 375px;
  height: 582px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 > .clipping, #m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 > .paddingLayer {
  height: 581px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 span#rtr-m-ba33a4ab-Rectangle_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}