#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Panel_1 > .valign {
  vertical-align: top;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}