#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}