#m-e92653f6-fc08-4990-b43a-a9cb2f11f3f4 #m-e92653f6-Rectangle_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-e92653f6-fc08-4990-b43a-a9cb2f11f3f4 #m-e92653f6-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#m-e92653f6-fc08-4990-b43a-a9cb2f11f3f4 #m-e92653f6-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-e92653f6-fc08-4990-b43a-a9cb2f11f3f4.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}