#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Menu-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Date-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ba33a4ab-c620-42cc-a28d-ab23546378d9 #m-ba33a4ab-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Tab-bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-adde8e28-1fc7-417c-8d5c-1a65ad6fe3ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}