#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Side-Menu {
  border-collapse: separate;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-side-menu {
  -pie-background: linear-gradient(to bottom,#999999,#FFFFFF);
  -pie-poll: false;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFA35A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFA35A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFA35A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFA35A;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Menu-icon {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_22 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-side-menu {
  -pie-background: linear-gradient(to bottom,#999999,#FFFFFF);
  -pie-poll: false;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFA35A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFA35A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFA35A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFA35A;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-content {
  -pie-background: linear-gradient(to bottom,#FFA35A,#FFFFFF);
  -pie-poll: false;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-content > .valign {
  vertical-align: middle;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Cell-side-menu {
  -pie-background: linear-gradient(to bottom,#999999,#FFFFFF);
  -pie-poll: false;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFA35A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFA35A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFA35A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFA35A;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Ellipse_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Tab-bar_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bfd5de64-41c6-4e3d-8bb2-424c96e1835d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}